In [7]:
## Standard stuff:
import numpy as np, seaborn as sns, pandas as pd
## For text classification:
import nltk, nltk.sentiment, sklearn
%matplotlib inline
import random 
from nltk.corpus import names 
import nltk 
import random
import pandas as pd
import nltk, nltk.sentiment, sklearn
%matplotlib inline

In [8]:
df = pd.read_csv('/Users/josefinebjornholm/Documents/GitHub/Test/Group-31-SoDa/Data/movie_1.csv')

In [9]:
df1 = df[['Female', 'd_Female','Summary', 'd_Drop']]

In [10]:
df1['Summary'][0]

'Two imprisoned men bond over a number of years, finding solace and eventual redemption through acts of common decency.'

In [19]:
nltk.download('vader_lexicon')

vader = nltk.sentiment.vader.SentimentIntensityAnalyzer()
data_vader = df1['Summary'].apply(vader.polarity_scores)

df1[['vader_compound','vader_neg','vader_neu','vader_pos']] = pd.DataFrame(list(data_vader))

df1.head(6)

[nltk_data] Downloading package vader_lexicon to
[nltk_data]     /Users/josefinebjornholm/nltk_data...
[nltk_data]   Package vader_lexicon is already up-to-date!

,Female,d_Female,Summary,d_Drop,vader_compound,vader_neg,vader_neu,vader_pos
0,0.0,0.0,Two imprisoned men bond over a number of years...,0.0,-0.4019,0.148,0.788,0.064
1,0.0,0.0,When the menace known as The Joker emerges fro...,0.0,-0.8176,0.286,0.536,0.178
2,0.0,0.0,A thief who steals corporate secrets through t...,0.0,-0.7717,0.226,0.774,0.000
3,0.0,0.0,An insomniac office worker and a devil-may-car...,0.0,-0.3818,0.126,0.874,0.000
4,0.0,0.0,"The lives of two mob hitmen, a boxer, a gangst...",0.0,-0.6249,0.151,0.849,0.000
5,0.0,0.0,"The presidencies of Kennedy and Johnson, the e...",0.0,0.0000,0.000,1.000,0.000

In [20]:
df1['Summary'][5]

'The presidencies of Kennedy and Johnson, the events of Vietnam, Watergate, and other history unfold through the perspective of an Alabama man with an IQ of 75.'

In [24]:
df1['Summary'][2]

'A thief who steals corporate secrets through the use of dream-sharing technology is given the inverse task of planting an idea into the mind of a C.E.O.'

In [30]:
df1['Summary'][5830]

'After a devastating break up on the eve of her cross-country move, Jenny enjoys one last NYC adventure with her two best pals. Someone Great is a romantic comedy about love, loss, growth and the everlasting bond of female friendship.'

In [31]:
df1.sort_values(by=['vader_compound'])
df1.groupby(['Female']).mean()

        d_Female    d_Drop  vader_compound  vader_neg  vader_neu  vader_pos
Female
0.0     0.034115  0.159580       -0.127258   0.132857   0.773854   0.093280
1.0     0.124579  0.171236       -0.095216   0.124247   0.781079   0.094666

## Female words 
     - woman 
     - young  
     - life 
     - girl 
     - love 
     - finds 
     - family 
     - must 
     - school 
     - man 
     - group
     - mother
     - world
     - home
     - story 
     - friends
     - mysterious 
     - years
     - city
     - husband
     - becomes

## Male words 
    - young 
    - man 
    - life 
    - must 
    - find 
    - family 
    - world 
    - story 
    - love 
    - woman 
    - group 
    - see
    - friends
    - full
    - war
    - summary 
    - father
    - help
    - school
    - becomes
    - years
    - wife
    - back
    - city